Please enter a zip code or street address to look up schools in that area.
<form method="get" action="/search">
  <select name="search_by">
    <option value="zip">ZIP</option>
    <option value="street">Street</option>
  </select>
  <input type="text" name="search">
  <button>Search</button>
</form>

<h4>About</h4>

<p>Created by Jee Song</p>