/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 *= require font-awesome
 */

@font-face {
  font-family: 'Archistico';
  src: url('Archistico_Simple-webfont.eot');
  src: url('Archistico_Simple-webfont.eot?#iefix') format('embedded-opentype'),
       url('Archistico_Simple-webfont.woff') format('woff'),
       url('Archistico_Simple-webfont.ttf') format('truetype'),
       url('Archistico_Simple-webfont.svg#ArchisticoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

#mainBillboard {
  height: 300px;
  background-image:url('chalkboard.jpg');
  border-style: solid;
  border-width: 4px;
  border-color: DarkGreen;
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 15px;
}
#mainTagLine {
  font-family: 'Amatic SC';
  font-size: 1.3em;
  color:white;
  margin-left: 140px;
}
#mainTitle {
  font-family: 'Archistico';
  font-size: 9em;
  text-align: center;
  color: white;
  margin-bottom:-0.25em;
}

#mainAuthor {
  font-family: 'Amatic SC';
  font-size: 1.3em;
  color: white;
  float: right;
  margin-top: 70px;
  margin-right: 10px;
}

#mainAuthor a {
  font-size: 1.2em;
}

#mapKey {
  padding: 5px;
}

input {
  text-align: center;
}

.dropdown li {
  text-align: center;
}

#mapKeyTitle {
  text-align: center;
  margin-bottom: -0.5em;
}

#homeDesc hr {
  margin: 3px 20px 10px 0px;
  border: solid DarkGreen;
  border-width: 1px;
}

#schoolType {
  color: white;
  margin-left: 10px;
}

.school_list {
  margin-left: 13px;
}

.reveal-modal {
  padding-bottom: 1em;
}